JSIGHT 0.3

TYPE @testCommonType
{
  "field1": 1,
  "field2": "some string"
}

TYPE @testAnnotation1 // Check type's annotation.
{}

TYPE @testAnnotation2 jsight // Check another type annotation.
{}

TYPE @testAnnotation3 regex // Check one more type annotation.
  /^OK$/

TYPE @testAnnotation_with_hack_breaks // Line 1 \n Line 2 \n Line 3 with dangerous characters: " \" \\", \ \\ \\\, \t, \u0123.
  ""

TYPE @testNotationJSight jsight
{
  "field": 1
}

TYPE @testNotationRegex regex
  /^OK$/

TYPE @testTypeRefInRoot
  @cat

TYPE @testMultipleTypeRefInRoot
  @cat | @dog

TYPE @testTypeRefToMultipleTypeRefInRoot
  @testMultipleTypeRefInRoot

TYPE @testExplicitBoundaries
(
  ["some string"]
)

#USEFUL TYPES
TYPE @_______________________________THANKS_FOR_TESTING__________________________________
  "No need to check below."

TYPE @cat
{
  "id": 1,
  "name": "Tom"
}

TYPE @dog
{
  "dogId": "stringId"
}