###
  1. Change the Title. Browser window title should change accordingly.
  2. Remove INFO and Title and check that browser tab title 
     has been reset to standard: "JSight Online Editor".

###

JSIGHT 0.3

INFO
  Title "My API (jtest)" # always use `jtest` in test titles for the sake of statistics

GET /cats