@import 'src/styles/variables';

.api-info {
  margin: 0 2.4rem 3rem;

  h1 {
    font-size: 2.8rem;
    line-height: 4.2rem;
    font-weight: 700;
  }

  .version {
    margin: 1.2rem 0 2rem;
  }

  .version,
  .description {
    color: $secondary-text;
  }
}
