@import '../../../styles/variables';

.json-rpc-header {
  padding: 0 3rem 3.2rem;

  h3 {
    font-size: 2.4rem;
    font-weight: 600;
    padding-bottom: 1.2rem;
  }

  .annotation {
    font-size: 1.4rem;
    color: #676669;

    strong {
      color: $main-text;
    }
  }
}
