@import 'src/styles/_variables.scss';

.notification-wrap {
    padding: 2.4rem !important;
    z-index: 9999;
    width: 47vw;
    right: 27vw;

    .Toastify {
        &__toast-body {
            align-items: flex-start;
        }

        &__close-button {
            color: #fff;
            opacity: 1;
        }

        &__toast-icon {
            margin-inline-end: 0;
            width: 1.6rem;

            svg {
                fill: #fff;
                width: 1.6rem;
                margin-top: 0.3rem;
            }
        }
    }

    &.error {
        background: $secondary-red;
    }
}

.notification-inner {
    color: #fff;
    margin-left: 1.8rem;

    .title {
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 0.6rem;
    }

    .btn-close {
        padding: 0.75rem 1.6rem;
        width: 6.4rem;
        height: 3.2rem;
        background: #fff;
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: $secondary-red;
        margin-top: 1.6rem;
    }
}

@media screen and (max-width: 1200px) {
  .notification-wrap {
    right: 20vw;
    width: 45vw;
  }
}
