@import 'src/styles/_variables.scss';

.Toastify {
  .error-notification {
    background: $secondary-red;
    z-index: 9999;
    div > svg {
      fill: $sidenav-background-color;
    }
  }

  .notification {
    text-align: left;
    color: $sidenav-background-color;
    direction: ltr;
    cursor: text;
  }

  .notification-title {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
  }

  .notification-message {
    font-size: 1em;
    line-height: 2rem;
  }

  .notification-wrap {
    right: 31.5vw;
    width: 47vw;
    padding: 11px 32px;
    opacity: 0.95;
    box-shadow: 0 24px 96px rgba(27, 17, 40, 0.05), 0 6px 18px rgba(27, 17, 40, 0.05),
      0 2px 4px rgba(27, 17, 40, 0.05);
  }
}

@media screen and (max-width: 1200px) {
  .notification-wrap {
    right: 20vw;
    width: 45vw;
  }
}
