@import 'src/styles/variables';

.brd {
  border: 1px solid red;
}

.editor {
  .slider {
    border-radius: 4px;
  }
}

.errorLine,
.errorLine + .line-numbers {
  background: $secondary-red;
  opacity: 0.65;
}

.errorHoleLine {
  background: $secondary-red;
  opacity: 0.65;
  position: relative;
}

.errorHoleLine::before {
  content: '';
  display: block;
  top: 4px;
  right: 12px;
  position: absolute;
  border: 0.6em solid transparent;
  border-top-width: 0;
  border-bottom: 1em $sidenav-background-color;
}

.errorHoleLine::after {
  display: block;
  position: absolute;
  top: 5px;
  right: 14px;
  width: 12px;
  height: 10px;
  text-align: center;
  content: '!';
  font-size: 0.75em;
  font-weight: bold;
  color: $secondary-red;
  opacity: 0.65;
}
