JSIGHT 0.3

INFO
  Description
    1. Select POST tab in rendered documentation.
    2. Select POST directory in the code and remove it by `Delete` button.
    3. Check, that in rendered documentation GET tab is automatically selected.

URL /1
  GET
  POST