JSIGHT 0.3

INFO
  Description
    1. Select the POST tab in the rendered documentation.
    2. Select the POST directory in the code and remove it by the `Delete` button.
    3. Check, that in the rendered documentation the GET tab is automatically selected.

URL /1
  GET
  POST