JSIGHT 0.3

INFO
  Description
  (
    Change the "Headers & Bodies" setting and check, that only 
    Header and Body sections change its view.
  )

GET /headers-and-bodies
  Request
    Headers
    {
      "MUST change": "1" // MUST change.
    }
    Body
      "MUST change" // MUST change.
  200
    Headers
    {
      "MUST change": "1" // MUST change.
    }
    Body
      "MUST change" // MUST change.

GET /headers-and-bodies/{stub}
  Path
  {
    "stub": 1 // must NOT change.
  }
  Query
    "must NOT change" // must NOT change


TYPE @type // MUST NOT change.
  "must NOT change" // must NOT change