JSIGHT 0.3

URL /http-methods
  GET // In the HTTP methods "Tabs" mode you see only this method.
  PUT // In the HTTP methods "Plain" mode you see also four methods: (1 of 4).
    200
      "foo"
  POST // (2 of 4)
    Request
      "foo"
  PATCH // (3 of 4)
    Request
      "foo"
    200
      "bar"
  DELETE // (4 of 4)
