JSIGHT 0.3

INFO
  Description
  (
    Change the "Path & Queries" setting and check, that only 
    Path and Query sections change its view.
  )

URL /paths-and-queries/{stub}
  Path
  {
    "stub": 1 // MUST change.
  }

  GET
    Query
      "MUST change" // MUST change.
    Request
      Headers
      {
        "must NOT change": "1" // must NOT change.
      }
      Body
        "must NOT change" // must NOT change.
    200
      Headers
      {
        "must NOT change": "1" // must NOT change.
      }
      Body
        "must NOT change" // must NOT change.

URL /rpc
  Protocol json-rpc-2.0
  Method some_method
    Params
    {
      "MUST NOT change": 1
    }
    Result
    {
      "MUST NOT change": 2
    }

TYPE @type // must NOT change.
  "type" // must NOT change.
