version: 2.1
orbs:
  docker: circleci/docker@2.0.3
  common: jsight/common-ci@1.0.1
  jira: circleci/jira@1.3.1


parameters:
  image-tag:
    type: string
    default: ${CIRCLE_BRANCH/\//_}_${CIRCLE_SHA1}


workflows:
  release-tag:
    when:
      matches:
        pattern: "^release-.*"
        value: << pipeline.git.tag >>
    jobs:
      - common/save-version-numbers:
          filters: &release-tag-filter
            tags:
              only: /^release-.*/
      - docker/publish:
          filters: *release-tag-filter
          requires:
            - get-version-numbers
          executor: common/vm-medium
          context: online-editor-development
          image: jsight/online-editor-frontend
          tag: '${FULL_VERSION_TAG},${MAJOR_VERSION_TAG},latest'
          extra_build_args: '--build-arg GTM_ID=${PROD_GTM_ID}'
          attach-at: /tmp/workspace
          before_build:
            - run:
                name: Read version number tags from workspace
                command: |
                  echo "Versions read: $(cat /tmp/workspace/full-version) , $(cat /tmp/workspace/major-version)"
                  echo "export FULL_VERSION_TAG=$(cat /tmp/workspace/full-version)" >> $BASH_ENV
                  echo "export MAJOR_VERSION_TAG=$(cat /tmp/workspace/major-version)" >> $BASH_ENV
      - approve-production-deploy:
          filters: *release-tag-filter
          type: approval
          requires:
            - docker/publish
      - common/refresh-container:
          filters: *release-tag-filter
          requires:
            - approve-production-deploy
          context: online-editor-development
          host: ${HOST_PROD}
          port: 8091
          container-name: online-editor-frontend
          image: jsight/online-editor-frontend:latest
      - common/notify-telegram:
          filters: *release-tag-filter
          requires:
            - common/refresh-container
          context: online-editor-development
          message: Production editor frontend updated from tag << pipeline.git.tag >>

  rc-branch:
    when:
      matches:
        pattern: "^rc/.*"
        value: << pipeline.git.branch >>
    jobs:
      - docker/publish:
          context: online-editor-development
          executor: common/vm-medium
          image: jsight/dev-online-editor-frontend
          tag: '<< pipeline.parameters.image-tag >>,stage_latest'
      - common/refresh-container:
          requires:
            - docker/publish
          context: online-editor-development
          host: ${HOST_STAGE}
          port: 8091
          container-name: online-editor-frontend
          image: jsight/dev-online-editor-frontend:<< pipeline.parameters.image-tag >>
      - common/notify-telegram:
          requires:
            - common/refresh-container
          context: online-editor-development
          message: Stage editor frontend updated from branch ${CIRCLE_BRANCH} (commit ${CIRCLE_SHA1})

  dev-branch:
    when:
      equal: [ dev, << pipeline.git.branch >>]
    jobs:
      - docker/publish:
          context: online-editor-development
          executor: common/vm-medium
          image: jsight/dev-online-editor-frontend
          tag: '<< pipeline.parameters.image-tag >>,dev_latest'
      - common/refresh-container:
          requires:
            - docker/publish
          context: online-editor-development
          host: ${HOST_DEV}
          port: 8091
          container-name: online-editor-frontend
          image: jsight/dev-online-editor-frontend:<< pipeline.parameters.image-tag >>
          post-steps:
            - jira/notify:
                job_type: deployment
                environment_type: Testing # Testing, Production
                environment: Experimental # Test, Production, Staging
      - common/notify-telegram:
          requires:
            - common/refresh-container
          context: online-editor-development
          message: Dev editor frontend updated from branch ${CIRCLE_BRANCH} (commit ${CIRCLE_SHA1})

  experimental:
    when:
      matches:
        pattern: "^try/.*"
        value: << pipeline.git.branch >>
    jobs:
      - approve-go-crazy:
          type: approval
      - docker/publish:
          requires:
            - approve-go-crazy
          context: online-editor-development
          executor: common/vm-medium
          image: jsight/dev-online-editor-frontend
          tag: '<< pipeline.parameters.image-tag >>,dev_latest'
      - common/refresh-container:
          requires:
            - docker/publish
          context: online-editor-development
          host: ${HOST_CRAZY}
          port: 8091
          container-name: online-editor-frontend
          image: jsight/dev-online-editor-frontend:<< pipeline.parameters.image-tag >>
      - common/notify-telegram:
          requires:
            - common/refresh-container
          context: online-editor-development
          message: Experimental (crazy) editor frontend updated from branch ${CIRCLE_BRANCH} (commit ${CIRCLE_SHA1})

  ci-test:
    when:
      equal: [ orb_ci, << pipeline.git.branch >> ]
    jobs:
      - docker/publish:
          context: online-editor-development
          executor: common/vm-medium
          image: jsight/dev-online-editor-frontend
          tag: '<< pipeline.parameters.image-tag >>,ci_latest'
      - common/refresh-container:
          requires:
            - docker/publish
          context: online-editor-development
          host: ${HOST_CRAZY}
          port: 8091
          container-name: online-editor-frontend
          image: jsight/dev-online-editor-frontend:<< pipeline.parameters.image-tag >>
      - common/notify-telegram:
          requires:
            - common/refresh-container
          context: online-editor-development
          message: Crazy editor frontend updated from branch ${CIRCLE_BRANCH} (commit ${CIRCLE_SHA1})