JSIGHT 0.3

TYPE @testAnnotations
{
  "checkLongNoteSidebarOpens": 1, /* This field has a very long note, but does 
                                    not has rules. So when you click on it, details
                                    sidebar card must be opened. */
  "checkLongNote": "field" /* {minLength: 0, maxLength: 20}
                              - This field has a very long note. 
                              It must all be seen in sidebar card
                              without horizontal scroll. */

}