JSIGHT 0.3

# Check details card for array items
TYPE @checkArrayItems // Check proper item indexes in the top left corner of the card
[
  "string1", // {minLength: 1, maxLength: 15} - must be `0`
  "string2"  // {minLength: 1, maxLength: 15, nullable: true} - must be `1–∞`
]