JSIGHT 0.3

GET /highest-possible-card/{goToCodeView}
  Path
    {
      "goToCodeView": "1" // {optional: true, nullable: true, enum: ["1", "2", "3", "4", "5", 5, 6, 7 , 8 , 9, 10]}
    }

  200 # This one potentially overlaps with previous card but from another block.
    {
      "overlapsWithPreviousCard": "1" // {enum: ["1", "2", "3", "4", "5", 6, 7, 8, 9, 10]}
    }

GET /lots-of-cards-near-each-other
  200
  {
    "one": "val", // {nullable: false, optional: true}
    "two": "val", // {nullable: false, optional: true}
    "three": "val", // {nullable: false, optional: true}
    "four": "val", // {nullable: false, optional: true}
    "five": "val" // {nullable: false, optional: true}
  }

GET /1 // dummy to create scroll
GET /2 // dummy to create scroll
GET /3 // dummy to create scroll
GET /4 // dummy to create scroll

GET /card-at-the-bottom
  200
    {
      "enum": "1", // {optional: true, nullable:false, enum: ["1", "2", "3", "4", "5", 6, 7, 8, 9, 10]} - some text to make card even bigger longer higher
      "enum2": "1" // {or: [{type: "string"},{type: "integer"},{type: "float"},{type: "float"},{type: "float"},{type: "float"},{type: "float"}]}
    }