JSIGHT 0.3

INFO
  Description
  (
    1. Scroll to the bottom.
    2. Open a sidebar card for the field "openSidebarCard".
    3. Close the sidebar card clicking on the cross in the right top corner.
    4. Scroll up to the top.
    5. Scroll down to the bottom.
    6. Check, that sidebar card does not opens by itself.
  )

GET /1

GET /2

GET /3

GET /4

GET /5

GET /6

GET /7

GET /8

GET /9

TYPE @t
{
  "openSidebarCard": 1 // {optional: true, type: "integer"}
}