.d-flex {
  display: flex;
}

.p-relative {
  position: relative;
}

.flex-auto {
  flex: 1 1 auto;
}

.ReactCollapse--collapse {
  transition: height 0.3s ease-in-out;
}

.flex-fluid {
  flex: 1;
}

.v-center {
  align-items: center;
}

.mb-12 {
  margin-bottom: 1.2rem;
}
