@font-face {
  font-family: 'fontello';
  src: url('../assets/fonts/fontello/fontello.eot');
  src: url('../assets/fonts/fontello/fontello.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/fontello/fontello.woff2') format('woff2'),
    url('../assets/fonts/fontello/fontello.woff') format('woff'),
    url('../assets/fonts/fontello/fontello.ttf') format('truetype'),
    url('../assets/fonts/fontello/fontello.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('../assets/fonts/IBMPlexSans-Bold/IBMPlexSans-Bold.eot');
  src: url('../assets/fonts/IBMPlexSans-Bold/IBMPlexSans-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/IBMPlexSans-Bold/IBMPlexSans-Bold.woff2') format('woff2'),
    url('../assets/fonts/IBMPlexSans-Bold/IBMPlexSans-Bold.woff') format('woff'),
    url('../assets/fonts/IBMPlexSans-Bold/IBMPlexSans-Bold.ttf') format('truetype'),
    url('../assets/fonts/IBMPlexSans-Bold/IBMPlexSans-Bold.svg#IBMPlexSans-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('../assets/fonts/IBMPlexSans-SemiBold/IBMPlexSans-SemiBold.eot');
  src: url('../assets/fonts/IBMPlexSans-SemiBold/IBMPlexSans-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/IBMPlexSans-SemiBold/IBMPlexSans-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/IBMPlexSans-SemiBold/IBMPlexSans-SemiBold.woff') format('woff'),
    url('../assets/fonts/IBMPlexSans-SemiBold/IBMPlexSans-SemiBold.ttf') format('truetype'),
    url('../assets/fonts/IBMPlexSans-SemiBold/IBMPlexSans-SemiBold.svg#IBMPlexSans-SemiBold')
      format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('../assets/fonts/IBMPlexSans-Medium/IBMPlexSans-Medium.eot');
  src: url('../assets/fonts/IBMPlexSans-Medium/IBMPlexSans-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/IBMPlexSans-Medium/IBMPlexSans-Medium.woff2') format('woff2'),
    url('../assets/fonts/IBMPlexSans-Medium/IBMPlexSans-Medium.woff') format('woff'),
    url('../assets/fonts/IBMPlexSans-Medium/IBMPlexSans-Medium.ttf') format('truetype'),
    url('../assets/fonts/IBMPlexSans-Medium/IBMPlexSans-Medium.svg#IBMPlexSans-Medium')
      format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('../assets/fonts/IBMPlexSans-Regular/IBMPlexSans-Regular.eot');
  src: url('../assets/fonts/IBMPlexSans-Regular/IBMPlexSans-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/IBMPlexSans-Regular/IBMPlexSans-Regular.woff2') format('woff2'),
    url('../assets/fonts/IBMPlexSans-Regular/IBMPlexSans-Regular.woff') format('woff'),
    url('../assets/fonts/IBMPlexSans-Regular/IBMPlexSans-Regular.ttf') format('truetype'),
    url('../assets/fonts/IBMPlexSans-Regular/IBMPlexSans-Regular.svg#IBMPlexSans-Regular')
      format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('../assets/fonts/JetBrainsMono-Regular/JetBrainsMono-Regular.eot');
  src: url('../assets/fonts/JetBrainsMono-Regular/JetBrainsMono-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/JetBrainsMono-Regular/JetBrainsMono-Regular.woff2') format('woff2'),
    url('../assets/fonts/JetBrainsMono-Regular/JetBrainsMono-Regular.woff') format('woff'),
    url('../assets/fonts/JetBrainsMono-Regular/JetBrainsMono-Regular.ttf') format('truetype'),
    url('../assets/fonts/JetBrainsMono-Regular/JetBrainsMono-Regular.svg#JetBrainsMono-Regular')
      format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('../assets/fonts/JetBrainsMono-SemiBold/JetBrainsMono-SemiBold.eot');
  src: url('../assets/fonts/JetBrainsMono-SemiBold/JetBrainsMono-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/JetBrainsMono-SemiBold/JetBrainsMono-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/JetBrainsMono-SemiBold/JetBrainsMono-SemiBold.woff') format('woff'),
    url('../assets/fonts/JetBrainsMono-SemiBold/JetBrainsMono-SemiBold.ttf') format('truetype'),
    url('../assets/fonts/JetBrainsMono-SemiBold/JetBrainsMono-SemiBold.svg#JetBrainsMono-SemiBold')
      format('svg');
  font-weight: 600;
  font-style: normal;
}
