$sidenav-width: 30rem;
$footer-height: 7.8rem;
$sidenav-background-color: #fff;

/** PRIMARY **/
$background: #f8f8fa;
$main-text: #1b1128;
$secondary-text: #6a7681;
$main-grey: #aab0b7;
$main-purple: #8338ff;
$main-stroke: #f0f0f2;

/** SECONDARY **/
$secondary-blue: #0d93cd;
$secondary-green: #79b400;
$secondary-yellow: #f3b738;
$secondary-azure: #6acccb;
$secondary-red: #c83b27;
$secondary-oxley: #729682;
$secondary-stroke: #dbdbe1;

/** CODE HIGHLIGHT **/
$code-rule: #54a4d3;
$code-rule-value: #ceb18e;
$code-key: #e86a32;
$code-string: #385a9a;
$code-boolean: #8142be;
$code-number: #ec951f;
$code-comment: #aab0b7;
$code-rule-sat: #1a9ce7;
$code-rule-value-sat: #e4a355;

/** BLOCKS MEASURES **/
$app-header-height: 64px;
