@import './display';
@import './typography';
@import '../assets/fonts/fontello/fontello';
@import './variables';

html {
  height: 100%;
  font-size: 62.5%;
  line-height: 1.5;
  tab-size: 4;
}

body {
  min-height: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-family: 'IBMPlexSans', serif;
  color: $main-text;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  margin: 0;
}

input,
textarea,
button,
a {
  outline: none !important;
  font-family: 'IBMPlexSans', serif;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: initial;
  background-color: transparent;
  background-image: none;
}

[role='button'],
button {
  cursor: pointer;
}

menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
