@import 'src/styles/variables';

.methods-tab {
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  overflow: hidden;
  margin: 2rem 0 2.4rem;
  background: $background;

  button {
    margin: 0;
    padding: 0.9rem 3.2rem;
    cursor: pointer;
    background: rgba(245, 245, 245, 0.5);
    border-right: 1px $secondary-stroke solid;
  }
}

.method-label {
  padding: 0.8rem 2rem;
  font-weight: 600;
  border-radius: 4px;
}

.methods-tab button.active,
.method-label {
  color: #fff;
  &.get {
    background-color: $secondary-blue;
  }
  &.post {
    background-color: $secondary-green;
  }
  &.put {
    background-color: $secondary-yellow;
  }
  &.patch {
    background-color: $secondary-azure;
  }
  &.delete {
    background-color: $secondary-red;
  }
  &.head {
    background-color: $main-purple;
  }
  &.options {
    background-color: $secondary-oxley;
  }
}

.resource-wrapper {
  padding: 0 3rem 3rem;
}

.resource-content {
  margin-bottom: 2.4rem;

  &:last-of-type {
    margin-bottom: 0;
  }

  .code-view-wrapper {
    margin-bottom: 2.4rem;
  }

  h4 {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
  }

  .item-annotation {
    font-size: 1.8rem;
    font-weight: 600;
  }

  .description {
    margin-top: 0.8rem;
    margin-bottom: 2.4rem;
  }

  .title {
    font-size: 2.1rem;
    line-height: 2.73rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
    margin-top: 2.8rem;
  }

  .content-state {
    background-color: #f0f0f2;
    color: #6a7681;
    padding: 0.4rem 1.2rem;
    display: inline-block;
    border-radius: 4px;
  }

  .method-label-wrapper {
    padding-bottom: 1.2rem;
    border-bottom: 1px solid $secondary-stroke;
    align-items: center;
    margin: 4rem 0;

    .item-annotation {
      margin-bottom: 0;
      line-height: 1.8rem;
      margin-left: 2rem;
      font-weight: 400;
      font-size: 1.4rem;
    }
  }
}

.links {
  .link {
    background: #f8f8fa;
    border-radius: 4px;
    padding: 0.8rem 4rem 0.8rem 2rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-bottom: 1.2rem;

    &:last-of-type {
      margin-bottom: 0;
    }

    .icon-link {
      margin-right: 1.45rem;
      color: #aab0b7;
    }
  }
}
