@import '../../styles/variables';

.resource-wrapper {
  padding: 0 3rem 2.4rem;

  h3 {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.12rem;
    margin-bottom: 3.2rem;
  }
}

.reusable-resource {
  .params-table, .code-view-wrapper {
    margin-top: 1.2rem;
  }

  .annotation {
    margin-top: 0.8rem;
  }
}

.resource-content {
  padding-bottom: 2.4rem;
  gap: 3.2rem;
  flex-direction: column;

  &:last-of-type {
    margin-bottom: 0;
  }

  .method-annotation {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.3rem;
  }

  .resource-title {
    margin-bottom: 1.2rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.1rem;
  }

  .type {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.1rem;
  }

  .description {
    margin-top: 0.8rem;
    margin-bottom: 2.4rem;
  }

  .responses {
    font-size: 2.1rem;
    line-height: 2.7rem;
    font-weight: 600;
    margin-top: 1.6rem;
  }

  .content-state {
    background-color: #f0f0f2;
    color: #6a7681;
    padding: 0.4rem 1.2rem;
    display: inline-block;
    border-radius: 4px;
  }

  .method-label-wrapper {
    padding-bottom: 1.2rem;
    border-bottom: 1px solid $secondary-stroke;
    align-items: center;
    margin: 2rem 0;

    .method-annotation {
      margin-bottom: 0;
      line-height: 1.8rem;
      margin-left: 2rem;
      font-weight: 400;
      font-size: 1.4rem;
    }
  }
}

.links {
  .link {
    background: #f8f8fa;
    border-radius: 4px;
    padding: 0.8rem 4rem 0.8rem 2rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-bottom: 1.2rem;

    &:last-of-type {
      margin-bottom: 0;
    }

    .icon-link {
      margin-right: 1.45rem;
      color: #aab0b7;
    }
  }
}
