JSIGHT 0.3

INFO
  Description

    # Headings

    # Heading level 1

    ## Heading level 2

    ### Heading level 3

    #### Heading level 4

    ##### Heading level 5

    ###### Heading level 6

    ## Paragraphs and line breaks

    Paragraph 1.

    Paragraph 2. Line 1 with one space after.
    Paragraph 2. Line 1.

    Paragraph 3. Line 1 with two spaces after.
    Paragraph 3. Line 2!!!

    Paragraph 4. Line 1 with break tag after.<br />
    Paragraph 4. Line 2!!!

    ## Emphasis

    ### Bold

    I just love **bold text**.

    I just love __bold text__.

    Love**is**bold

    ### Italic

    Italicized text is the *cat's meow*.

    Italicized text is the _cat's meow_.

    A*cat*meow

    ### Bold and italic

    This text is ***really important***.

    This text is ___really important___.

    This text is __*really important*__.

    This text is **_really important_**.

    This is really***very***important text.

    ## Blockquotes

    > Dorothy followed her through many of the beautiful rooms in her castle.


    > Dorothy followed her through many of the beautiful rooms in her castle.
    >
    > The Witch bade her clean the pots and kettles and sweep the floor and keep the fire fed...

    ### Nested Blockquotes

    > Dorothy followed her through many of the beautiful rooms in her castle.
    >
    >> The Witch bade her clean the pots and kettles and sweep the floor and keep the fire fed...

    ### Blockquotes with Other Elements

    > #### The quarterly results look great!
    >
    > - Revenue was off the chart.
    > - Profits were higher than ever.
    >
    >  *Everything* is going according to **plan**.

    ## Lists

    ### Ordered Lists

    1. First item
    2. Second item
    3. Third item
    4. Fourth item

    1. First item
    8. Second item
    3. Third item
    5. Fourth item

    1. First item
    2. Second item
    3. Third item
        1. Indented item
        2. Indented item
    4. Fourth item

    ### Unordered Lists

    - First item
    - Second item
    - Third item
    - Fourth item

    * First item
    * Second item
    * Third item
    * Fourth item

    + First item
    + Second item
    + Third item
    + Fourth item

    - First item
    - Second item
    - Third item
        - Indented item
        - Indented item
    - Fourth item

    ### Starting Unordered List Items With Numbers

    - 1968\. A great year!
    - I think 1969 was second best.

    ### Mixed Lists

    1. First item
    2. Second item
    3. Third item
        - Indented item
        - Indented item
    4. Fourth item

    ## Code

    At the command prompt, type `nano`.

    ### Escaping Backticks

    ``Use `code` in your Markdown file.``

    ### Code block with 4-space indent

        <html>
          <head>
          </head>
        </html>

    ### Code blocks with three Backticks

    ```
    {
      "firstName": "John",
      "lastName": "Smith",
      "age": 25
    }
    ```

    ### Syntax Highlighting

    ```json
    {
      "firstName": "John",
      "lastName": "Smith",
      "age": 25
    }
    ```

    ## Horizontal line

    Line 1:

    ---

    Line 2:

    ***

    Line 3:

    ___

    ## Links

    My favorite search engine is [Duck Duck Go](https://duckduckgo.com).

    ## URLs and Email Addresses

    To quickly turn a URL or email address into a link, enclose it in angle brackets.

    <https://www.markdownguide.org>
    <fake@example.com>

    ## Formatting Links

    I love supporting the **[EFF](https://eff.org)**.
    This is the *[Markdown Guide](https://www.markdownguide.org)*.
    See the section on [`code`](#code).

    ## Escaping Characters

    \* Without the backslash, this would be a bullet in an unordered list.

    ## HTML

    This **word** is bold. This <em>word</em> is italic.

    ## Tables

    | Syntax      | Description |
    | ----------- | ----------- |
    | Header      | Title       |
    | Paragraph   | Text        |

    ### Alignment

    | Syntax      | Description | Test Text     |
    | :---        |    :----:   |          ---: |
    | Header      | Title       | Here's this   |
    | Paragraph   | Text        | And more      |

GET /check-method-description
  Description
    # Heading

    Paragraph 1.

    Paragraph 2.

URL /check-rpc-description
  Protocol json-rpc-2.0
  Method check-method-description
    Description
      # Heading

      Paragraph 1.

      Paragraph 2.

