JSIGHT 0.3

TYPE @t
{
 "key1": "value",
 "key2": "value",
 "key3": "value",
 "key4": "value",
 "key5": "value",
 "key6": "value",
 "key7": "value",
 "key8": "value",
 "key9": "value",
 "key10": "value",
 "key11": "value",
 "key12": "value",
 "key13": "value",
 "key14": "value",
 "key15": "value",
 "key16": "value",
 "key17": "value",
 "key18": "value",
 "key19": "value",
 "key20": "value",
 "key21": "value",
 "key22": "value",
 "key23": "value",
 "key24": "value",
 "key25": "value",
 "key26": "value",
 "key27": "value",
 "key28": "value",
 "key29": "value",
 "key30": "value",
 "key31": "value",
 "key32": "value",
 "key33": "value",
 "key34": "value",
 "key35": "value",
 "key36": "value",
 "key37": "value",
 "key38": "value",
 "key39": "value",
 "key40": "value",
 "key41": "value",
 "key42": "value",
 "key43": "value",
 "key44": "value",
 "key45": "value",
 "key46": "value",
 "key47": "value",
 "key48": "value",
 "key49": "value",
 "key50": "value",
 "key51": "value",
 "key52": "value",
 "key53": "value",
 "key54": "value",
 "key55": "value",
 "key56": "value",
 "key57": "value",
 "key58": "value",
 "key59": "value",
 "key60": "value",
 "key61": "value",
 "key62": "value",
 "key63": "value",
 "key64": "value",
 "key65": "value",
 "key66": "value",
 "key67": "value",
 "key68": "value",
 "key69": "value",
 "key70": "value",
 "key71": "value",
 "key72": "value",
 "key73": "value",
 "key74": "value",
 "key75": "value",
 "key76": "value",
 "key77": "value",
 "key78": "value",
 "key79": "value",
 "key80": "value",
 "key81": "value",
 "key82": "value",
 "key83": "value",
 "key84": "value",
 "key85": "value",
 "key86": "value",
 "key87": "value",
 "key88": "value",
 "key89": "value",
 "key90": "value",
 "key91": "value",
 "key92": "value",
 "key93": "value",
 "key94": "value",
 "key95": "value",
 "key96": "value",
 "key97": "value",
 "key98": "value",
 "key99": "value"
}