JSIGHT 0.3

TYPE @t
{
 "key1": "value", // {optional: true, nullable: true}
 "key2": "value", // {optional: true, nullable: true}
 "key3": "value", // {optional: true, nullable: true}
 "key4": "value", // {optional: true, nullable: true}
 "key5": "value", // {optional: true, nullable: true}
 "key6": "value", // {optional: true, nullable: true}
 "key7": "value", // {optional: true, nullable: true}
 "key8": "value", // {optional: true, nullable: true}
 "key9": "value", // {optional: true, nullable: true}
 "key10": "value", // {optional: true, nullable: true}
 "key11": "value", // {optional: true, nullable: true}
 "key12": "value", // {optional: true, nullable: true}
 "key13": "value", // {optional: true, nullable: true}
 "key14": "value", // {optional: true, nullable: true}
 "key15": "value", // {optional: true, nullable: true}
 "key16": "value", // {optional: true, nullable: true}
 "key17": "value", // {optional: true, nullable: true}
 "key18": "value", // {optional: true, nullable: true}
 "key19": "value", // {optional: true, nullable: true}
 "key20": "value", // {optional: true, nullable: true}
 "key21": "value", // {optional: true, nullable: true}
 "key22": "value", // {optional: true, nullable: true}
 "key23": "value", // {optional: true, nullable: true}
 "key24": "value", // {optional: true, nullable: true}
 "key25": "value", // {optional: true, nullable: true}
 "key26": "value", // {optional: true, nullable: true}
 "key27": "value", // {optional: true, nullable: true}
 "key28": "value", // {optional: true, nullable: true}
 "key29": "value", // {optional: true, nullable: true}
 "key30": "value", // {optional: true, nullable: true}
 "key31": "value", // {optional: true, nullable: true}
 "key32": "value", // {optional: true, nullable: true}
 "key33": "value", // {optional: true, nullable: true}
 "key34": "value", // {optional: true, nullable: true}
 "key35": "value", // {optional: true, nullable: true}
 "key36": "value", // {optional: true, nullable: true}
 "key37": "value", // {optional: true, nullable: true}
 "key38": "value", // {optional: true, nullable: true}
 "key39": "value", // {optional: true, nullable: true}
 "key40": "value", // {optional: true, nullable: true}
 "key41": "value", // {optional: true, nullable: true}
 "key42": "value", // {optional: true, nullable: true}
 "key43": "value", // {optional: true, nullable: true}
 "key44": "value", // {optional: true, nullable: true}
 "key45": "value", // {optional: true, nullable: true}
 "key46": "value", // {optional: true, nullable: true}
 "key47": "value", // {optional: true, nullable: true}
 "key48": "value", // {optional: true, nullable: true}
 "key49": "value", // {optional: true, nullable: true}
 "key50": "value", // {optional: true, nullable: true}
 "key51": "value", // {optional: true, nullable: true}
 "key52": "value", // {optional: true, nullable: true}
 "key53": "value", // {optional: true, nullable: true}
 "key54": "value", // {optional: true, nullable: true}
 "key55": "value", // {optional: true, nullable: true}
 "key56": "value", // {optional: true, nullable: true}
 "key57": "value", // {optional: true, nullable: true}
 "key58": "value", // {optional: true, nullable: true}
 "key59": "value", // {optional: true, nullable: true}
 "key60": "value", // {optional: true, nullable: true}
 "key61": "value", // {optional: true, nullable: true}
 "key62": "value", // {optional: true, nullable: true}
 "key63": "value", // {optional: true, nullable: true}
 "key64": "value", // {optional: true, nullable: true}
 "key65": "value", // {optional: true, nullable: true}
 "key66": "value", // {optional: true, nullable: true}
 "key67": "value", // {optional: true, nullable: true}
 "key68": "value", // {optional: true, nullable: true}
 "key69": "value", // {optional: true, nullable: true}
 "key70": "value", // {optional: true, nullable: true}
 "key71": "value", // {optional: true, nullable: true}
 "key72": "value", // {optional: true, nullable: true}
 "key73": "value", // {optional: true, nullable: true}
 "key74": "value", // {optional: true, nullable: true}
 "key75": "value", // {optional: true, nullable: true}
 "key76": "value", // {optional: true, nullable: true}
 "key77": "value", // {optional: true, nullable: true}
 "key78": "value", // {optional: true, nullable: true}
 "key79": "value", // {optional: true, nullable: true}
 "key80": "value", // {optional: true, nullable: true}
 "key81": "value", // {optional: true, nullable: true}
 "key82": "value", // {optional: true, nullable: true}
 "key83": "value", // {optional: true, nullable: true}
 "key84": "value", // {optional: true, nullable: true}
 "key85": "value", // {optional: true, nullable: true}
 "key86": "value", // {optional: true, nullable: true}
 "key87": "value", // {optional: true, nullable: true}
 "key88": "value", // {optional: true, nullable: true}
 "key89": "value", // {optional: true, nullable: true}
 "key90": "value", // {optional: true, nullable: true}
 "key91": "value", // {optional: true, nullable: true}
 "key92": "value", // {optional: true, nullable: true}
 "key93": "value", // {optional: true, nullable: true}
 "key94": "value", // {optional: true, nullable: true}
 "key95": "value", // {optional: true, nullable: true}
 "key96": "value", // {optional: true, nullable: true}
 "key97": "value", // {optional: true, nullable: true}
 "key98": "value", // {optional: true, nullable: true}
 "key99": "value"  // {optional: true, nullable: true}
} 