JSIGHT 0.3

URL /1
  POST

  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      [
        "item0",
        "item1",
        "item2",
        "item3",
        "item4"
      ]
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3
      }

  DELETE

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }


URL /2
  POST
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      [
        "item0",
        "item1",
        "item2"
      ]
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3
      }

  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      [
        "item0",
        "item1"
      ]
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3"
        ]

  DELETE

TYPE @type2
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3,
  "field4": 4,
  "field5": 5,
  "field6": 6
}

URL /3
  PUT
    Request
      [
        "item0",
        "item1",
        "item2",
        "item3"
      ]

URL /4
  GET

TYPE @type4
{
  "field0": 0,
  "field1": 1,
  "field2": 2
}

URL /5
  GET
    Query "debug=0"
    {
      "debug": 1
    }


  POST
    Request
      {
        "field0": 0,
        "field1": 1
      }

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }


TYPE @type5
[
  "item0",
  "item1"
]

URL /6
  POST
    200
      {
        "field0": 0,
        "field1": 1
      }

  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      [
        "item0",
        "item1",
        "item2",
        "item3",
        "item4"
      ]

  DELETE
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6
        }
      Body
        [
          "item0",
          "item1"
        ]

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6
        }
      Body
        [
          "item0",
          "item1",
          "item2"
        ]
    200
      {
        "field0": 0,
        "field1": 1
      }

URL /7
  PUT
    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }

URL /8
  DELETE

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }

URL /9
  POST
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      [
        "item0",
        "item1",
        "item2",
        "item3"
      ]

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
      Body
        [
          "item0",
          "item1"
        ]

  PATCH
    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3"
        ]
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3",
          "item4"
        ]

URL /10
  GET
    200
      [
        "item0",
        "item1"
      ]

  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      {
        "field0": 0,
        "field1": 1
      }

  PATCH
    Request
      [
        "item0",
        "item1"
      ]

TYPE @type10
[
  "item0",
  "item1",
  "item2"
]

URL /11
  GET
    Query "debug=0"
    {
      "debug": 1
    }


  POST
    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2
      }
    200
      Headers
        {
          "field0": 0,
          "field1": 1
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3",
          "item4"
        ]

  PUT

  DELETE
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }

  PATCH

URL /12
  GET
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3",
          "item4"
        ]

  POST
    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3
      }

  PUT
    Query "debug=0"
    {
      "debug": 1
    }


TYPE @type12
[
  "item0",
  "item1",
  "item2",
  "item3"
]

URL /13
  POST
    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
      Body
        {
          "field0": 0,
          "field1": 1
        }

URL /14
  GET

  PUT
    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }

  DELETE
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6,
          "field7": 7
        }

TYPE @type14
{
  "field0": 0,
  "field1": 1,
  "field2": 2
}

URL /15
  GET

  POST
    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5
      }

  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      [
        "item0",
        "item1",
        "item2"
      ]
    200
      [
        "item0",
        "item1",
        "item2",
        "item3"
      ]

URL /16
  GET
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6,
          "field7": 7,
          "field8": 8
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3",
          "item4"
        ]

  POST
    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5,
        "field6": 6,
        "field7": 7
      }

  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4
      }

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6
        }
      Body
        [
          "item0",
          "item1",
          "item2"
        ]

TYPE @type16
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3
}

URL /17
  GET
    Query "debug=0"
    {
      "debug": 1
    }


  POST

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5
      }

TYPE @type17
{
  "field0": 0,
  "field1": 1,
  "field2": 2
}

URL /18
  PUT
    Query "debug=0"
    {
      "debug": 1
    }


  PATCH
    Request
      [
        "item0",
        "item1",
        "item2"
      ]
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
      Body
        [
          "item0",
          "item1",
          "item2"
        ]

TYPE @type18
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3,
  "field4": 4
}

URL /19
  POST
    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2
      }

URL /20
  GET
    Query "debug=0"
    {
      "debug": 1
    }


  PATCH

URL /21
  GET
    Query "debug=0"
    {
      "debug": 1
    }

    200
      [
        "item0",
        "item1"
      ]

  DELETE
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6,
          "field7": 7
        }
      Body
        [
          "item0",
          "item1"
        ]

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      [
        "item0",
        "item1",
        "item2",
        "item3"
      ]
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3"
        ]

URL /22
  PATCH
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }

URL /23
  POST
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5,
        "field6": 6
      }

  PUT

URL /24
  GET

  POST

  PUT
    Request
      {
        "field0": 0,
        "field1": 1
      }
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }

TYPE @type24
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3
}

URL /25
  POST

  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      [
        "item0",
        "item1",
        "item2",
        "item3"
      ]

TYPE @type25
[
  "item0",
  "item1",
  "item2",
  "item3"
]

URL /26
  POST
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }

URL /27
TYPE @type27
[
  "item0",
  "item1",
  "item2"
]

URL /28
  GET
    200
      [
        "item0",
        "item1",
        "item2",
        "item3",
        "item4"
      ]

  PUT

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }


URL /29
  GET
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5
      }

TYPE @type29
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3,
  "field4": 4,
  "field5": 5
}

URL /30
  POST
    Request
      [
        "item0",
        "item1",
        "item2",
        "item3",
        "item4"
      ]
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6,
          "field7": 7
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }

  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5,
        "field6": 6
      }

URL /31
  GET

  POST
    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6
        }

  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6
        }

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }


TYPE @type31
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3,
  "field4": 4,
  "field5": 5,
  "field6": 6
}

URL /32
  GET
    200
      [
        "item0",
        "item1",
        "item2"
      ]

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }


TYPE @type32
{
  "field0": 0,
  "field1": 1
}

URL /33
  DELETE
    Query "debug=0"
    {
      "debug": 1
    }


  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      [
        "item0",
        "item1",
        "item2",
        "item3",
        "item4"
      ]

TYPE @type33
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3
}

URL /34
  POST
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3",
          "item4"
        ]

  PUT
    Request
      [
        "item0",
        "item1",
        "item2"
      ]
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3
      }

TYPE @type34
[
  "item0",
  "item1",
  "item2",
  "item3"
]

URL /35
  GET
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }

  POST
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2
      }

  DELETE

URL /36
  POST
    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5,
        "field6": 6
      }

  DELETE

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      [
        "item0",
        "item1",
        "item2"
      ]
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
      Body
        [
          "item0",
          "item1"
        ]

URL /37
  POST
    Request
      [
        "item0",
        "item1",
        "item2",
        "item3"
      ]
    200
      [
        "item0",
        "item1",
        "item2",
        "item3",
        "item4"
      ]

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }


  PATCH
    Query "debug=0"
    {
      "debug": 1
    }


TYPE @type37
[
  "item0",
  "item1",
  "item2",
  "item3",
  "item4"
]

URL /38
  POST
    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5,
        "field6": 6,
        "field7": 7
      }
    200
      [
        "item0",
        "item1",
        "item2",
        "item3"
      ]

  DELETE
    200
      [
        "item0",
        "item1",
        "item2",
        "item3"
      ]

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }

TYPE @type38
[
  "item0",
  "item1"
]

URL /39
  GET
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3"
        ]

  DELETE

  PATCH
    200
      [
        "item0",
        "item1",
        "item2"
      ]

URL /40
  POST
    Request
      {
        "field0": 0,
        "field1": 1
      }

  PUT
    Query "debug=0"
    {
      "debug": 1
    }


  DELETE
    200
      [
        "item0",
        "item1"
      ]

  PATCH
    Request
      Headers
        {
          "field0": 0,
          "field1": 1
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }

TYPE @type40
[
  "item0",
  "item1",
  "item2",
  "item3"
]

URL /41
  POST
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5
      }

  PUT
    Request
      Headers
        {
          "field0": 0,
          "field1": 1
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3",
          "item4",
          "item5"
        ]

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }

  PATCH
    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5,
        "field6": 6
      }
    200
      [
        "item0",
        "item1",
        "item2",
        "item3",
        "item4"
      ]

TYPE @type41
[
  "item0",
  "item1",
  "item2",
  "item3"
]

URL /42
  GET
    200
      {
        "field0": 0,
        "field1": 1
      }

  POST
    Request
      [
        "item0",
        "item1"
      ]

  PUT
    Query "debug=0"
    {
      "debug": 1
    }


  PATCH
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }

URL /43
  GET
    200
      {
        "field0": 0,
        "field1": 1
      }

  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3"
        ]
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3
      }

  DELETE
    200
      [
        "item0",
        "item1"
      ]

URL /44
URL /45
  PATCH

TYPE @type45
[
  "item0",
  "item1",
  "item2"
]

URL /46
  PUT

TYPE @type46
[
  "item0",
  "item1",
  "item2"
]

URL /47
  GET
    Query "debug=0"
    {
      "debug": 1
    }

    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4
      }

  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      [
        "item0",
        "item1",
        "item2"
      ]
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3"
        ]

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }


  PATCH
    Request
      Headers
        {
          "field0": 0,
          "field1": 1
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }

TYPE @type47
[
  "item0",
  "item1"
]

URL /48
  GET
    Query "debug=0"
    {
      "debug": 1
    }


  POST
    Query "debug=0"
    {
      "debug": 1
    }


  DELETE

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3",
          "item4",
          "item5"
        ]
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4
      }

URL /49
  POST
    Request
      [
        "item0",
        "item1",
        "item2"
      ]
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        [
          "item0",
          "item1",
          "item2"
        ]

  PUT
    Request
      {
        "field0": 0,
        "field1": 1
      }
    200
      [
        "item0",
        "item1",
        "item2"
      ]

  PATCH
    200
      [
        "item0",
        "item1",
        "item2",
        "item3",
        "item4"
      ]

TYPE @type49
{
  "field0": 0,
  "field1": 1
}

URL /50
  GET

  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        [
          "item0",
          "item1"
        ]
    200
      [
        "item0",
        "item1",
        "item2",
        "item3"
      ]

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }

    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4
      }

URL /51
  POST
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6
        }
    200
      [
        "item0",
        "item1",
        "item2",
        "item3"
      ]

  PUT
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5,
        "field6": 6
      }

  DELETE

TYPE @type51
[
  "item0",
  "item1",
  "item2"
]

URL /52
  GET
    Query "debug=0"
    {
      "debug": 1
    }


URL /53
  GET

  PUT
    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2
      }

  DELETE

  PATCH

TYPE @type53
{
  "field0": 0,
  "field1": 1,
  "field2": 2
}

URL /54
  GET

  DELETE
    200
      {
        "field0": 0,
        "field1": 1
      }

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      [
        "item0",
        "item1"
      ]

URL /55
  GET
    200
      [
        "item0",
        "item1",
        "item2"
      ]

  POST
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4
      }

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }


URL /56
  GET
    Query "debug=0"
    {
      "debug": 1
    }


  POST
    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3
      }
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2
      }

TYPE @type56
{
  "field0": 0,
  "field1": 1,
  "field2": 2
}

URL /57
  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3
      }
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }

  DELETE
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        {
          "field0": 0,
          "field1": 1
        }

  PATCH
    Request
      [
        "item0",
        "item1",
        "item2",
        "item3",
        "item4",
        "item5"
      ]

TYPE @type57
[
  "item0",
  "item1",
  "item2"
]

URL /58
  DELETE

TYPE @type58
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3,
  "field4": 4
}

URL /59
  PUT
    Query "debug=0"
    {
      "debug": 1
    }


  DELETE
    200
      {
        "field0": 0,
        "field1": 1
      }

URL /60
  GET
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }

TYPE @type60
[
  "item0",
  "item1",
  "item2",
  "item3"
]

URL /61
  GET
    200
      Headers
        {
          "field0": 0,
          "field1": 1
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3",
          "item4"
        ]

  POST
    Query "debug=0"
    {
      "debug": 1
    }


  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    200
      [
        "item0",
        "item1",
        "item2"
      ]

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }


  PATCH

URL /62
  POST
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4
      }

  PUT
    Query "debug=0"
    {
      "debug": 1
    }


TYPE @type62
[
  "item0",
  "item1",
  "item2",
  "item3"
]

URL /63
  GET

  PUT
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
      Body
        [
          "item0",
          "item1",
          "item2"
        ]

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6,
          "field7": 7
        }
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6,
          "field7": 7
        }

TYPE @type63
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3,
  "field4": 4
}

URL /64
  GET
    Query "debug=0"
    {
      "debug": 1
    }


  PUT

URL /65
  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3"
        ]

URL /66
  GET
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5,
        "field6": 6
      }

URL /67
  POST
    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }

  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      [
        "item0",
        "item1",
        "item2"
      ]
    200
      {
        "field0": 0,
        "field1": 1
      }

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }

    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5,
        "field6": 6,
        "field7": 7
      }

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }

TYPE @type67
[
  "item0",
  "item1",
  "item2",
  "item3"
]

URL /68
  GET
    Query "debug=0"
    {
      "debug": 1
    }


  POST
    Query "debug=0"
    {
      "debug": 1
    }


  DELETE
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6
        }

  PATCH

TYPE @type68
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3,
  "field4": 4,
  "field5": 5
}

URL /69
  GET
    Query "debug=0"
    {
      "debug": 1
    }


  DELETE
    Query "debug=0"
    {
      "debug": 1
    }


  PATCH
    Query "debug=0"
    {
      "debug": 1
    }


TYPE @type69
[
  "item0",
  "item1"
]

URL /70
  GET
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3
      }

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }


TYPE @type70
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3,
  "field4": 4
}

URL /71
  GET
    Query "debug=0"
    {
      "debug": 1
    }


  DELETE
    Query "debug=0"
    {
      "debug": 1
    }


TYPE @type71
{
  "field0": 0,
  "field1": 1,
  "field2": 2
}

URL /72
  POST
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3",
          "item4"
        ]

  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        [
          "item0",
          "item1"
        ]

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }

    200
      [
        "item0",
        "item1",
        "item2",
        "item3"
      ]

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    200
      [
        "item0",
        "item1",
        "item2"
      ]

TYPE @type72
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3,
  "field4": 4
}

URL /73
  GET

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }


  PATCH
    Query "debug=0"
    {
      "debug": 1
    }


TYPE @type73
[
  "item0",
  "item1",
  "item2",
  "item3"
]

URL /74
  PUT
    Request
      [
        "item0",
        "item1"
      ]
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        [
          "item0",
          "item1",
          "item2"
        ]

  DELETE
    200
      [
        "item0",
        "item1",
        "item2",
        "item3",
        "item4"
      ]

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3
      }

TYPE @type74
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3,
  "field4": 4
}

URL /75
  GET
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }


URL /76
  GET

  DELETE

TYPE @type76
[
  "item0",
  "item1",
  "item2"
]

URL /77
  GET
    Query "debug=0"
    {
      "debug": 1
    }


  POST
    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        [
          "item0",
          "item1"
        ]
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        [
          "item0",
          "item1",
          "item2"
        ]

  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6,
          "field7": 7,
          "field8": 8
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3"
        ]

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }


URL /78
  GET

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }

    200
      [
        "item0",
        "item1",
        "item2"
      ]

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4
      }

TYPE @type78
{
  "field0": 0,
  "field1": 1,
  "field2": 2
}

URL /79
  PUT
    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2
      }

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }


  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2
      }

TYPE @type79
[
  "item0",
  "item1",
  "item2",
  "item3"
]

URL /80
  GET
    Query "debug=0"
    {
      "debug": 1
    }

    200
      [
        "item0",
        "item1",
        "item2",
        "item3"
      ]

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }


URL /81
  POST

  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3"
        ]

  PATCH
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2
      }

TYPE @type81
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3,
  "field4": 4
}

URL /82
  GET
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2
      }

  PUT
    Query "debug=0"
    {
      "debug": 1
    }


  DELETE
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6,
          "field7": 7
        }

  PATCH
    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5,
        "field6": 6,
        "field7": 7
      }
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5,
        "field6": 6
      }

TYPE @type82
[
  "item0",
  "item1",
  "item2",
  "item3"
]

URL /83
  GET
    Query "debug=0"
    {
      "debug": 1
    }


  POST
    Query "debug=0"
    {
      "debug": 1
    }

    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4
      }

  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }

  DELETE

  PATCH
    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }

URL /84
  GET
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2
      }

  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3",
          "item4",
          "item5"
        ]

  DELETE

URL /85
  GET
    Query "debug=0"
    {
      "debug": 1
    }


  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }


URL /86
  GET
    Query "debug=0"
    {
      "debug": 1
    }


URL /87
  POST
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      [
        "item0",
        "item1",
        "item2",
        "item3"
      ]

  PATCH
    200
      [
        "item0",
        "item1",
        "item2",
        "item3",
        "item4"
      ]

URL /88
  DELETE
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }

URL /89
  PUT
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5,
        "field6": 6,
        "field7": 7
      }

TYPE @type89
[
  "item0",
  "item1",
  "item2"
]

URL /90
  POST
    Query "debug=0"
    {
      "debug": 1
    }


  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }

  DELETE
    200
      [
        "item0",
        "item1"
      ]

TYPE @type90
[
  "item0",
  "item1",
  "item2",
  "item3",
  "item4",
  "item5"
]

URL /91
  GET
    Query "debug=0"
    {
      "debug": 1
    }


  PATCH
    Query "debug=0"
    {
      "debug": 1
    }


URL /92
  POST
    Query "debug=0"
    {
      "debug": 1
    }


  PUT

URL /93
  POST
    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3
      }

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }


  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }

TYPE @type93
{
  "field0": 0,
  "field1": 1,
  "field2": 2
}

URL /94
URL /95
  GET

URL /96
  GET
    Query "debug=0"
    {
      "debug": 1
    }


  POST
    Query "debug=0"
    {
      "debug": 1
    }


  DELETE
    Query "debug=0"
    {
      "debug": 1
    }


  PATCH
    Query "debug=0"
    {
      "debug": 1
    }


TYPE @type96
[
  "item0",
  "item1",
  "item2"
]

URL /97
  GET
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }

  POST
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        {
          "field0": 0,
          "field1": 1
        }

URL /98
  POST

  PUT
    Query "debug=0"
    {
      "debug": 1
    }


  DELETE
    200
      [
        "item0",
        "item1"
      ]

TYPE @type98
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3,
  "field4": 4
}

URL /99
  GET
    Query "debug=0"
    {
      "debug": 1
    }

    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2
      }

  POST
    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        [
          "item0",
          "item1"
        ]
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6,
          "field7": 7
        }

  PUT

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }


URL /100
  POST

  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      [
        "item0",
        "item1",
        "item2"
      ]

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    200
      [
        "item0",
        "item1",
        "item2",
        "item3"
      ]

URL /101
  GET
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        [
          "item0",
          "item1",
          "item2"
        ]

  PUT
    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3",
          "item4"
        ]
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3"
        ]

  DELETE

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3",
          "item4"
        ]

TYPE @type101
[
  "item0",
  "item1",
  "item2",
  "item3"
]

URL /102
  GET
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }

  POST
    Query "debug=0"
    {
      "debug": 1
    }


  DELETE
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3",
          "item4"
        ]

  PATCH
    Request
      Headers
        {
          "field0": 0,
          "field1": 1
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
    200
      [
        "item0",
        "item1"
      ]

TYPE @type102
[
  "item0",
  "item1",
  "item2",
  "item3"
]

URL /103
  GET

  POST
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        [
          "item0",
          "item1",
          "item2"
        ]

  PUT

TYPE @type103
{
  "field0": 0,
  "field1": 1,
  "field2": 2
}

URL /104
  GET
    Query "debug=0"
    {
      "debug": 1
    }

    200
      {
        "field0": 0,
        "field1": 1
      }

  PUT
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3"
        ]

TYPE @type104
[
  "item0",
  "item1",
  "item2",
  "item3"
]

URL /105
  POST
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
      Body
        [
          "item0",
          "item1",
          "item2"
        ]

  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4
      }

  DELETE

URL /106
  GET
    Query "debug=0"
    {
      "debug": 1
    }


  PUT
    200
      [
        "item0",
        "item1",
        "item2",
        "item3"
      ]

TYPE @type106
{
  "field0": 0,
  "field1": 1,
  "field2": 2
}

URL /107
URL /108
  POST
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      [
        "item0",
        "item1",
        "item2",
        "item3",
        "item4",
        "item5"
      ]

  PUT
    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }

  DELETE

URL /109
  GET
    Query "debug=0"
    {
      "debug": 1
    }


  POST
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6,
          "field7": 7,
          "field8": 8
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
    200
      [
        "item0",
        "item1",
        "item2",
        "item3",
        "item4"
      ]

  PUT
    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6,
          "field7": 7
        }
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5
      }

  DELETE
    200
      [
        "item0",
        "item1"
      ]

URL /110
  PUT
    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3
      }
    200
      [
        "item0",
        "item1",
        "item2",
        "item3",
        "item4",
        "item5"
      ]

TYPE @type110
[
  "item0",
  "item1"
]

URL /111
  GET
    Query "debug=0"
    {
      "debug": 1
    }


  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      [
        "item0",
        "item1"
      ]
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3",
          "item4",
          "item5"
        ]

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }


URL /112
  GET
    Query "debug=0"
    {
      "debug": 1
    }


  DELETE
    Query "debug=0"
    {
      "debug": 1
    }


TYPE @type112
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3,
  "field4": 4,
  "field5": 5,
  "field6": 6,
  "field7": 7
}

URL /113
  DELETE
    Query "debug=0"
    {
      "debug": 1
    }


URL /114
  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      [
        "item0",
        "item1",
        "item2"
      ]

  DELETE

  PATCH
    200
      [
        "item0",
        "item1"
      ]

URL /115
  PUT

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }

  PATCH
    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6
        }
      Body
        [
          "item0",
          "item1"
        ]
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5
      }

TYPE @type115
[
  "item0",
  "item1",
  "item2",
  "item3"
]

URL /116
  GET
    Query "debug=0"
    {
      "debug": 1
    }

    200
      [
        "item0",
        "item1",
        "item2",
        "item3",
        "item4"
      ]

TYPE @type116
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3,
  "field4": 4,
  "field5": 5,
  "field6": 6
}

URL /117
  GET

  POST
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        {
          "field0": 0,
          "field1": 1
        }

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
      Body
        [
          "item0",
          "item1"
        ]
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }

URL /118
  POST
    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3
      }
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6
        }
      Body
        [
          "item0",
          "item1",
          "item2"
        ]

  DELETE

URL /119
  GET
    Query "debug=0"
    {
      "debug": 1
    }


TYPE @type119
[
  "item0",
  "item1"
]

URL /120
TYPE @type120
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3
}

URL /121
  GET
    Query "debug=0"
    {
      "debug": 1
    }


  POST
    Request
      [
        "item0",
        "item1",
        "item2"
      ]
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }

  PUT
    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
    200
      Headers
        {
          "field0": 0,
          "field1": 1
        }
      Body
        [
          "item0",
          "item1",
          "item2"
        ]

URL /122
  POST
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        [
          "item0",
          "item1",
          "item2"
        ]

  PATCH
    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3
      }

TYPE @type122
[
  "item0",
  "item1",
  "item2",
  "item3"
]

URL /123
  GET
    Query "debug=0"
    {
      "debug": 1
    }


  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2
      }

TYPE @type123
[
  "item0",
  "item1"
]

URL /124
  GET

  POST
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4
      }

TYPE @type124
[
  "item0",
  "item1"
]

URL /125
  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      [
        "item0",
        "item1",
        "item2"
      ]
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5,
        "field6": 6,
        "field7": 7,
        "field8": 8,
        "field9": 9
      }

URL /126
  POST
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }

  DELETE
    200
      [
        "item0",
        "item1",
        "item2",
        "item3"
      ]

TYPE @type126
[
  "item0",
  "item1",
  "item2",
  "item3",
  "item4"
]

URL /127
  GET

  POST
    Request
      [
        "item0",
        "item1",
        "item2",
        "item3",
        "item4"
      ]

  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        [
          "item0",
          "item1",
          "item2"
        ]

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }


  PATCH
    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5
      }
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
      Body
        [
          "item0",
          "item1",
          "item2"
        ]

TYPE @type127
{
  "field0": 0,
  "field1": 1
}

URL /128
  DELETE
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }

URL /129
  GET
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1
        }
      Body
        [
          "item0",
          "item1",
          "item2"
        ]

  PUT
    Request
      [
        "item0",
        "item1",
        "item2",
        "item3"
      ]

  PATCH
    Request
      [
        "item0",
        "item1",
        "item2"
      ]

TYPE @type129
{
  "field0": 0,
  "field1": 1,
  "field2": 2
}

URL /130
  PUT
    Query "debug=0"
    {
      "debug": 1
    }


URL /131
  GET
    Query "debug=0"
    {
      "debug": 1
    }


  POST
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5,
        "field6": 6
      }
    200
      Headers
        {
          "field0": 0,
          "field1": 1
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }

  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5,
        "field6": 6
      }
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6
        }

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }


  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5,
        "field6": 6
      }
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        [
          "item0",
          "item1",
          "item2"
        ]

URL /132
  GET

  POST
    Query "debug=0"
    {
      "debug": 1
    }


  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3
      }

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }

    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5,
        "field6": 6
      }

  PATCH

TYPE @type132
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3
}

URL /133
  POST
    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }

  DELETE
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5
      }

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4
      }
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2
      }

URL /134
  POST
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4
      }
    200
      [
        "item0",
        "item1"
      ]

  DELETE
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }

  PATCH
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6
        }

TYPE @type134
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3
}

URL /135
  PUT
    Request
      [
        "item0",
        "item1",
        "item2"
      ]

  DELETE
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6,
          "field7": 7
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }

TYPE @type135
{
  "field0": 0,
  "field1": 1
}

URL /136
  PATCH
    Request
      [
        "item0",
        "item1",
        "item2",
        "item3",
        "item4"
      ]

TYPE @type136
[
  "item0",
  "item1",
  "item2",
  "item3",
  "item4"
]

URL /137
  POST
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
    200
      Headers
        {
          "field0": 0,
          "field1": 1
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }

  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
      Body
        [
          "item0",
          "item1"
        ]

  DELETE

TYPE @type137
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3,
  "field4": 4
}

URL /138
  PUT
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6,
          "field7": 7
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }

  DELETE

TYPE @type138
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3
}

URL /139
  GET

  PUT
    Query "debug=0"
    {
      "debug": 1
    }


  DELETE
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3"
        ]

URL /140
  GET
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5,
        "field6": 6,
        "field7": 7
      }

TYPE @type140
[
  "item0",
  "item1",
  "item2",
  "item3"
]

URL /141
  GET
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4
      }

  POST
    Query "debug=0"
    {
      "debug": 1
    }


  PUT
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6,
          "field7": 7
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3",
          "item4"
        ]

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }


TYPE @type141
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3,
  "field4": 4
}

URL /142
  PUT
    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }

    200
      [
        "item0",
        "item1",
        "item2"
      ]

  PATCH

URL /143
  GET
    Query "debug=0"
    {
      "debug": 1
    }


  POST
    Query "debug=0"
    {
      "debug": 1
    }


  DELETE

TYPE @type143
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3,
  "field4": 4
}

URL /144
  GET
    Query "debug=0"
    {
      "debug": 1
    }


  PUT
    Query "debug=0"
    {
      "debug": 1
    }


  PATCH
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3
      }

TYPE @type144
[
  "item0",
  "item1"
]

URL /145
  POST
    Query "debug=0"
    {
      "debug": 1
    }


  DELETE
    Query "debug=0"
    {
      "debug": 1
    }

    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4
      }

  PATCH
    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }

TYPE @type145
[
  "item0",
  "item1",
  "item2",
  "item3"
]

URL /146
  GET

  POST
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        [
          "item0",
          "item1",
          "item2"
        ]
    200
      [
        "item0",
        "item1"
      ]

  PUT
    Query "debug=0"
    {
      "debug": 1
    }


URL /147
  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5
      }

TYPE @type147
[
  "item0",
  "item1",
  "item2",
  "item3",
  "item4"
]

URL /148
  GET

  POST
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        [
          "item0",
          "item1"
        ]

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        [
          "item0",
          "item1",
          "item2"
        ]

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }

TYPE @type148
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3,
  "field4": 4
}

URL /149
  POST
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3"
        ]
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }

TYPE @type149
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3,
  "field4": 4,
  "field5": 5,
  "field6": 6
}

URL /150
  GET
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4
      }

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }


URL /151
  POST
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
    200
      [
        "item0",
        "item1",
        "item2"
      ]

  PUT

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
      Body
        [
          "item0",
          "item1"
        ]

  PATCH
    Request
      [
        "item0",
        "item1",
        "item2",
        "item3"
      ]
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4
      }

TYPE @type151
[
  "item0",
  "item1",
  "item2",
  "item3"
]

URL /152
  POST
    Query "debug=0"
    {
      "debug": 1
    }


  DELETE
    Query "debug=0"
    {
      "debug": 1
    }


URL /153
  POST
    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }

  PUT
    200
      [
        "item0",
        "item1",
        "item2"
      ]

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3"
        ]
    200
      [
        "item0",
        "item1",
        "item2",
        "item3"
      ]

URL /154
  DELETE
    Query "debug=0"
    {
      "debug": 1
    }

    200
      [
        "item0",
        "item1"
      ]

URL /155
  GET

  POST
    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3"
        ]

  PUT
    200
      Headers
        {
          "field0": 0,
          "field1": 1
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6
        }

TYPE @type155
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3
}

URL /156
  POST
    Query "debug=0"
    {
      "debug": 1
    }


  PATCH
    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        {
          "field0": 0,
          "field1": 1
        }
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5,
        "field6": 6
      }

URL /157
  GET
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3
      }

  POST
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4
      }

  PUT
    Request
      [
        "item0",
        "item1",
        "item2",
        "item3",
        "item4"
      ]

  PATCH
    Request
      Headers
        {
          "field0": 0,
          "field1": 1
        }
      Body
        [
          "item0",
          "item1",
          "item2"
        ]

URL /158
  GET
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4
      }

  DELETE

URL /159
  GET
    Query "debug=0"
    {
      "debug": 1
    }

    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4
      }

  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      [
        "item0",
        "item1",
        "item2",
        "item3"
      ]

  PATCH

TYPE @type159
[
  "item0",
  "item1",
  "item2",
  "item3"
]

URL /160
  GET
    Query "debug=0"
    {
      "debug": 1
    }

    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2
      }

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }


  PATCH
    Query "debug=0"
    {
      "debug": 1
    }


TYPE @type160
[
  "item0",
  "item1",
  "item2",
  "item3"
]

URL /161
  GET
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        [
          "item0",
          "item1",
          "item2"
        ]

  POST
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3"
        ]

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
      Body
        [
          "item0",
          "item1",
          "item2"
        ]

  PATCH
    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        [
          "item0",
          "item1",
          "item2"
        ]

URL /162
  DELETE
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
      Body
        [
          "item0",
          "item1",
          "item2"
        ]

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        [
          "item0",
          "item1"
        ]
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5
      }

URL /163
  GET
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
      Body
        [
          "item0",
          "item1",
          "item2"
        ]

  POST
    200
      [
        "item0",
        "item1",
        "item2"
      ]

  PATCH
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3
      }

URL /164
  GET
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3",
          "item4"
        ]

  POST
    Query "debug=0"
    {
      "debug": 1
    }


  PUT
    Request
      [
        "item0",
        "item1",
        "item2"
      ]

URL /165
  POST
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5
      }

  PUT
    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2
      }
    200
      [
        "item0",
        "item1",
        "item2"
      ]

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }


TYPE @type165
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3,
  "field4": 4,
  "field5": 5
}

URL /166
  POST
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6
        }
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2
      }

  DELETE

TYPE @type166
[
  "item0",
  "item1",
  "item2",
  "item3"
]

URL /167
  GET
    Query "debug=0"
    {
      "debug": 1
    }

    200
      [
        "item0",
        "item1",
        "item2",
        "item3"
      ]

  POST
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
      Body
        [
          "item0",
          "item1"
        ]

  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      [
        "item0",
        "item1",
        "item2",
        "item3"
      ]
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3"
        ]

  DELETE

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    200
      [
        "item0",
        "item1",
        "item2"
      ]

URL /168
  POST

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }


URL /169
  POST
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6,
          "field7": 7
        }
      Body
        [
          "item0",
          "item1",
          "item2"
        ]

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }

TYPE @type169
[
  "item0",
  "item1",
  "item2",
  "item3",
  "item4"
]

URL /170
  GET
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }

  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }

  DELETE

  PATCH
    200
      [
        "item0",
        "item1",
        "item2",
        "item3"
      ]

TYPE @type170
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3
}

URL /171
  GET
    200
      {
        "field0": 0,
        "field1": 1
      }

  POST
    Query "debug=0"
    {
      "debug": 1
    }


  DELETE

URL /172
  GET

  DELETE
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5,
        "field6": 6
      }

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6
        }
      Body
        [
          "item0",
          "item1"
        ]

TYPE @type172
[
  "item0",
  "item1",
  "item2"
]

URL /173
  GET
    Query "debug=0"
    {
      "debug": 1
    }

    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3
      }

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }

TYPE @type173
{
  "field0": 0,
  "field1": 1,
  "field2": 2
}

URL /174
  GET
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5,
        "field6": 6
      }

  POST
    200
      [
        "item0",
        "item1",
        "item2",
        "item3",
        "item4"
      ]

  PUT
    Query "debug=0"
    {
      "debug": 1
    }


  DELETE
    Query "debug=0"
    {
      "debug": 1
    }

    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5,
        "field6": 6
      }

  PATCH

URL /175
  DELETE
    Query "debug=0"
    {
      "debug": 1
    }

    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4
      }

URL /176
  GET

  POST
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3"
        ]

  PUT
    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2
      }
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4
      }

  PATCH

TYPE @type176
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3,
  "field4": 4
}

URL /177
  PUT
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4
      }

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }

TYPE @type177
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3,
  "field4": 4
}

URL /178
  GET
    Query "debug=0"
    {
      "debug": 1
    }


  POST
    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
      Body
        [
          "item0",
          "item1",
          "item2"
        ]

TYPE @type178
[
  "item0",
  "item1",
  "item2"
]

URL /179
  GET

  POST
    Query "debug=0"
    {
      "debug": 1
    }


  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1
        }
      Body
        [
          "item0",
          "item1"
        ]

URL /180
  GET
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3",
          "item4"
        ]

  POST
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5,
        "field6": 6,
        "field7": 7
      }
    200
      [
        "item0",
        "item1",
        "item2",
        "item3"
      ]

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }


URL /181
  POST
    Request
      [
        "item0",
        "item1"
      ]

  PUT
    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
      Body
        [
          "item0",
          "item1",
          "item2"
        ]
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6,
          "field7": 7,
          "field8": 8
        }

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }

    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4
      }

  PATCH

TYPE @type181
[
  "item0",
  "item1"
]

URL /182
  GET
    Query "debug=0"
    {
      "debug": 1
    }


  POST
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3"
        ]

  PUT
    Query "debug=0"
    {
      "debug": 1
    }


  DELETE
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }

URL /183
  POST
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      [
        "item0",
        "item1",
        "item2"
      ]
    200
      Headers
        {
          "field0": 0,
          "field1": 1
        }
      Body
        [
          "item0",
          "item1",
          "item2"
        ]

URL /184
  GET

  POST
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }

  PUT
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }

  DELETE

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5
      }
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2
      }

TYPE @type184
[
  "item0",
  "item1",
  "item2",
  "item3",
  "item4"
]

URL /185
  PUT
    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3"
        ]
    200
      [
        "item0",
        "item1",
        "item2",
        "item3"
      ]

TYPE @type185
{
  "field0": 0,
  "field1": 1,
  "field2": 2,
  "field3": 3,
  "field4": 4
}

URL /186
  GET
    Query "debug=0"
    {
      "debug": 1
    }

    200
      [
        "item0",
        "item1",
        "item2",
        "item3",
        "item4"
      ]

  DELETE

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      [
        "item0",
        "item1",
        "item2",
        "item3"
      ]

TYPE @type186
{
  "field0": 0,
  "field1": 1
}

URL /187
  POST
    200
      [
        "item0",
        "item1",
        "item2"
      ]

  PUT
    Request
      [
        "item0",
        "item1"
      ]

  DELETE
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        [
          "item0",
          "item1",
          "item2"
        ]

  PATCH
    Request
      [
        "item0",
        "item1",
        "item2",
        "item3"
      ]

TYPE @type187
[
  "item0",
  "item1",
  "item2",
  "item3"
]

URL /188
  GET
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3"
        ]

  DELETE
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4
      }

  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3",
          "item4"
        ]
    200
      [
        "item0",
        "item1",
        "item2"
      ]

URL /189
  GET
    Query "debug=0"
    {
      "debug": 1
    }


  POST
    Request
      [
        "item0",
        "item1",
        "item2",
        "item3"
      ]

TYPE @type189
{
  "field0": 0,
  "field1": 1,
  "field2": 2
}

URL /190
  PATCH
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3
      }
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3
      }

URL /191
  PUT
    200
      Headers
        {
          "field0": 0,
          "field1": 1
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3",
          "item4",
          "item5"
        ]

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }


URL /192
  GET
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }


URL /193
  GET
    Query "debug=0"
    {
      "debug": 1
    }

    200
      [
        "item0",
        "item1"
      ]

  PATCH
    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3",
          "item4"
        ]

URL /194
  POST

  PUT

URL /195
  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4
      }
    200
      {
        "field0": 0,
        "field1": 1
      }

  DELETE
    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4
        }

URL /196
  GET
    Query "debug=0"
    {
      "debug": 1
    }

    200
      [
        "item0",
        "item1",
        "item2",
        "item3",
        "item4"
      ]

  POST
    200
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4
      }

  DELETE
    Query "debug=0"
    {
      "debug": 1
    }

    200
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3
        }
      Body
        [
          "item0",
          "item1",
          "item2",
          "item3"
        ]

URL /197
  GET
    Query "debug=0"
    {
      "debug": 1
    }


  POST
    Query "debug=0"
    {
      "debug": 1
    }


  PUT
    Query "debug=0"
    {
      "debug": 1
    }


  DELETE
    Query "debug=0"
    {
      "debug": 1
    }


URL /198
  POST
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      {
        "field0": 0,
        "field1": 1,
        "field2": 2,
        "field3": 3,
        "field4": 4,
        "field5": 5,
        "field6": 6
      }

URL /199
  GET

  PUT
    Query "debug=0"
    {
      "debug": 1
    }

    Request
      Headers
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5
        }
      Body
        {
          "field0": 0,
          "field1": 1,
          "field2": 2,
          "field3": 3,
          "field4": 4,
          "field5": 5,
          "field6": 6,
          "field7": 7,
          "field8": 8
        }

  DELETE