.control-elements {
  margin-right: 2rem;
  gap: 0.8rem;

  button {
    height: 2.8rem;
    width: 4.4rem;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    color: #6a7681;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    background-color: #ffffff;

    .icon-arrow-down {
      font-size: 0.7rem;
    }

    &.disabled {
      opacity: 0.5;
    }
  }
}
