JSIGHT 0.3

INFO
  Title "Bottom margin tests (jtest)" # always use `jtest` in test titles for the sake of statistics
  Description
  (
    Remove directives one by one from the bottom and check their bottom margin.
    
    -
    -
    -
    -
    -
    -
    -
    -
    -
    -
    -
    -
    -
    -
    -
    -
    -
    -
    -
    -
    -
    -
    -
    -
    -
    -
    -
    -
    -
    -
    -
    -
    -
    -
    Check INFO Description bottom margin.
  )

SERVER @checkServerBottomMargin // Check SERVER bottom margin
  BaseUrl http://check-BaseUrl-bottom-margin

GET /check-method-bottom-margin/
  Description
  (
    Check method description bottom margin.
  )

GET /check-path-bottom-margin/{var}
  Query
  {
    "Check query bottom margin": 0
  }
  200
    "Check body bottom margin"      
  201 empty // Check empty body bottom margin.
  203 any   // Check any body bottom margin.

URL /rpc
  Protocol json-rpc-2.0
  Method m1
    Params
      [123]
    Result
      [223]
    
TYPE @checkTypeMargin
{}
