@use 'sass:math';
@import 'src/styles/variables';

#root {
  height: 100%;
  overflow: hidden;
}

@function calcSize($scale) {
  @return math.div(100%, $scale);
}

@function calcShift($scale) {
  @return -(math.div(100%, $scale) / 2 - (math.div(100%, $scale) * math.div($scale, 2)));
}

@media screen and (max-width: 1040px) {
  #root {
    position: absolute;
    transform: scale(0.8);
    height: calcSize(0.8);
    width: calcSize(0.8);
    top: calcShift(0.8);
    left: calcShift(0.8);
  }
}

@media screen and (max-width: 850px) {
  #root {
    position: absolute;
    transform: scale(0.6);
    height: calcSize(0.6);
    width: calcSize(0.6);
    top: calcShift(0.6);
    left: calcShift(0.6);
  }
}

@media screen and (max-width: 630px) {
  #root {
    position: absolute;
    transform: scale(0.3);
    height: calcSize(0.3);
    width: calcSize(0.3);
    top: calcShift(0.3);
    left: calcShift(0.3);
  }
}

@media screen and (max-width: 360px) {
  #root {
    position: absolute;
    transform: scale(0.2);
    height: calcSize(0.2);
    width: calcSize(0.2);
    top: calcShift(0.2);
    left: calcShift(0.2);
  }
}

.app-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10000;

  .bug-button {
    float: right;
  }

  .body {
    height: $app-header-height;
    padding: 1.6rem 3.2rem;
    box-shadow: 0 6.0308px 22.3363px rgba(0, 0, 0, 0.0325822),
      0 1.79553px 6.6501px rgba(0, 0, 0, 0.0223074);
  }

  .btn-download {
    background-color: $background;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .doc-title {
    flex: 1 1;
    text-align: center;
    color: $secondary-text;
    line-height: 3.2rem;

    i {
      color: $secondary-stroke;
      margin-right: 0.5rem;
    }
  }

  .menu {
    flex: 1;
    display: flex;
    gap: 3.6rem;

    .item {
      display: flex;

      button {
        font-weight: 500;
      }

      i {
        font-size: 0.7rem;
        line-height: 2rem;
        position: relative;
        transition: none;
      }

      i.icon-arrow-up {
        bottom: 2px;
      }

      .icon-arrow-down {
        bottom: 2px;
      }
    }

    .dropdown {
      display: flex;
      align-items: center;
    }

    .dropdown-items {
      li {
        display: flex;
        align-items: center;
        padding: 1rem;
        cursor: pointer;

        &:hover {
          background: $main-stroke;
        }
        img {
          margin-left: 10px;
        }
      }
    }

    .dropdown-menu {
      border: 0;
      border-radius: 0;
      background: $background;
      top: 0.5rem !important;
    }
  }

  .logo {
    position: relative;
    flex-shrink: 0;
    padding-right: 4.8rem;

    span {
      position: absolute;
      top: 0;
      right: 0;
      color: $main-grey;
      font-size: 1.2rem;
      line-height: 1.6rem;
      font-weight: 500;
    }

    img {
      height: 32px;
      flex-shrink: 0;
    }
  }

  .control-buttons {
    display: flex;
    gap: 3.2rem;

    .delimiter {
      background-color: $secondary-stroke;
      height: 2.4rem;
      margin: 0.3rem 1.2rem;
      width: 1px;
    }
  }
}
