JSIGHT 0.3

INFO
  Description
    1. Open a details card for the second line in the first code view.
    2. Check, that there is no lines selected in the second code view.

TYPE @t
{
  "1": "1", // {optional: true, minLength: 1}
  "2": "2"  // {optional: true, minLength: 1}
}

TYPE @t2
{
  "1": "1", // {optional: true, minLength: 1}
  "2": "2"  // {optional: true, minLength: 1}
}