@import 'src/styles/variables';

.main-content {
  margin-left: $sidenav-width;
  margin-right: 20%;
  height: 100%;

  .space-header {
    height: 3rem;
  }

  &.scrolling {
    pre {
      overflow-x: hidden;
    }
  }

  .collapsible-content {
    > .header {
      background: hsl(240, 17%, 98%);
      border-radius: 4px;
      padding: 0.8rem 4rem 0.8rem 2rem;
    }
  }

  .wrapper {
    position: relative;
  }

  .reusable-header,
  .resource-header {
    font-size: 2.8rem;
    line-height: 3.6rem;
    font-weight: 600;
  }

  .reusable-header {
    padding: 0 3rem 3.2rem;
  }

  .resource-header {
    padding: 0 3rem 1.2rem;

    + .resource-wrapper {
      padding-bottom: 3.2rem;
    }
  }

  .resource-spacer {
    height: 1px;
    background-color: $secondary-stroke;
  }

  .reusable-header {
    margin-top: 2.4rem;
  }
}

.collapsible-content {
  > .header {
    font-weight: 500;
    line-height: 1.8rem;
  }
}

.main-body {
  height: 100%;
  background: #f8f8fa;
  border-radius: 32px;
  padding: 3.6rem 3rem;
}

.main-resources {
  height: 100%;
}

.openapi-wrapper {
  position: relative;
  display: block;
  height: 100%;
  // display: flex;
}

.openapi-lines {
  padding: 20px 0;
  width: 54px;
  font-family: 'JetBrainsMono', serif;
  font-size: 14px;
  text-align: center;
  background-color: $secondary-grey;
  color: $main-grey;
  flex-shrink: 0;
}

.openapi-content {
  margin: 0;
  padding: 20px 24px;
  font-family: 'JetBrainsMono', serif;
  font-size: 14px;
  flex: 1;
}

.openapi-copy.btn {
  position: absolute;
  bottom: 20px;
  right: 50px;
  width: auto;
  padding: 11px 23px;
  border-radius: 4px;
  border: 1px solid $secondary-stroke;
  background: $main-stroke;
  color: $main-text;
  opacity: 0.8;
}

.openapi-copy img {
  margin-left: 8px;
}
